# Ignore virtual environment
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore temporary test files
tests/__pycache__/

# Ignore IDE specific configuration files
.vscode/
.idea/
*.swp

# Ignore log files
*.log

# Ignore build and distribution files
*.egg-info/
dist/
build/

tasks.json
